@model IEnumerable<WardrobeMVCVer1.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="glyphicon glyphicon-record" id="CreateNew">
    @Html.ActionLink("Add", "Create")
</p>
<div class="container-fluid">
    <div>

    </div>

    @foreach (var item in Model)
    {

        <div class="card" style="width:400px">
            <img class="card-img-top" @Html.DisplayFor(modelItem =>)>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Type)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Season)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Occasion)</p>
                <a href="#" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.OutfitID })</a>
                <a href="#" class="btn btn-primary">@Html.ActionLink("Details", "Details", new { id = item.OutfitID })</a>
                <a href="#" class="btn btn-primary">@Html.ActionLink("Delete", "Delete", new { id = item.OutfitID })</a>
            </div>
        </div>

    }

</div>
